@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="d-flex align-items-center justify-content-between">
        <div class="d-flex flex-column justify-content-between align-items-start">
            <h1 class="main-header m-2">
                The Lockerroom
            </h1>
            <h2 class="sub-header m-2">
                Lorem ipsum datum
            </h2>
            <a class="nav-link text-dark" asp-area="" asp-controller="Product" asp-action="Index">
                <button class="btn btn-primary m-2">
                    Products 
                </button> 
            </a>
        </div>
        <div>
            <img src="Assets/Images/sports.png" id="sportsImage" alt="sports equipment">
        </div>
    </div>
</div>